<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Все комнаты</title>
</head>
<body>
<header th:insert="blogs/header :: header">

</header>
<table>
  <tr>
    <th>Номер комнаты</th>
    <th>Количество мест</th>
    <th>Айди комнаты</th>
    <th>Отель</th>
  </tr>

  <tr th:each="rooms : ${rooms}">
    <td th:text="${rooms.number}"></td>
    <td th:text="${rooms.seats}"></td>
    <td th:text ="${rooms.id}"></td>
    <td th:text ="${rooms.hotel.name}"></td>
  </tr>
</table>


</body>
</html>