<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Бронирование комнаты </title>
</head>
<body>
<p class="author">Айди комнаты: <span th:text="${room.id}"></span></p>
<p class="author">Количество мест: <span th:text="${room.seats}"></span></p>
<p class="author">Номер комнаты: <span th:text="${room.number}"></span></p>
<p class="author">Описание комнаты: <span th:text="${room.description}"></span></p>

<form action="" method="post">



    <input type="text">Введите ваше имя


</form>

</body>
</html>