<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All hotels</title>
</head>
<body>
<header th:insert="blogs/header :: header">

</header>
<a>Hotels</a>
<table>
    <tr>
        <th>Название</th>
        <th>Город</th>
        <th>Адрес</th>
    </tr>

    <tr th:each="hotel : ${hotels}">
        <td th:text="${hotel.name}"></td>
        <td th:text="${hotel.city}"></td>
        <td th:text="${hotel.street}"></td>
        <td ><a th:href="@{/hotels/rooms/{id}(id=${hotel.id})}">Комнаты</a></td>
    </tr>
</table>


</body>
</html>