<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="blogs/header :: header">
</header>

<span th:text="${reservation.room.number}"></span>
<span th:text="${reservation.room.description}"></span>
<span th:text="${reservation.room.hotel.name}"></span>
<span th:text="${reservation.date_of_departure}"></span>
<span th:text="${reservation.arrival_date}"></span>
<span th:text="${reservation.user.phone_Number}"></span>
<span th:text="${reservation.user.mail}"></span>
<span th:text="${reservation.user.name}"></span>


</body>
</html>