<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text="${reservation.room.number}"></span></p>
<span th:text="${reservation.room.hotel.name}"></span></p>
<span th:text="${reservation.date_of_departure}"></span></p>
<span th:text="${reservation.arrival_date}"></span></p>
<span th:text="${reservation.user.phone_Number}"></span></p>
<span th:text="${reservation.user.mail}"></span></p>
<span th:text="${reservation.user.name}"></span></p>


</body>
</html>